@font-face {
    font-family: 'entypo';
    src: url('../assets/entypo.eot');
    src: url('../assets/entypo.eot?#iefix') format('embedded-opentype'),
         url('../assets/entypo.woff') format('woff'),
         url('../assets/entypo.ttf') format('truetype'),
         url('../assets/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	border-top: 7px solid #B53D25;
}

body {
	background: #FFF;
	color: #4C4C4C;
	font-family: 'Gentium Book Basic', Georgia, serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5em;
}

hr {
	border-width: 1px;
}

header {
	text-align: center;
	margin: 20px 0;
}

.picture {
	background: transparent url("../assets/favicon.ico") center center no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	border-radius: 100%;
}

h1,
h2,
h3 {
	margin: 10px 0;
	line-height: 1em;
	font-weight: 400;
}

.social {
	text-align: center;
	margin: 30px 0;
}

.social li {
	display: inline-block;
	margin: 15px 22px 15px 0;
}

.social li a {
	font-family: 'entypo';
    font-size: 3em;
    vertical-align: middle;
    text-decoration: none;
    color: #4C4C4C;
}

#twitter:hover {
	color: #1499E7;
}

#linkedin:hover {
	color: #0C62A6;
}

#facebook:hover {
	color: #2D3E88;
}

#email:hover {
	color: #CE1011;
}

#github:hover {
	color: #000000;
}

#blog:hover {
	color: #2A435F;
}

.projects h2,
.projects h3 {
	padding-top: 30px;
	border-top: 1px solid #FFFFFF;
	-webkit-box-shadow: 0px -1px rgba(0,0,0,0.2);
	box-shadow: 0px -1px rgba(0,0,0,0.2);
}

.sites {
	margin-bottom: 30px;
}

.sites li {
	margin: 5px;
}

.sites a {
	background: #FFFFFF;
	color: #777;
	padding: 10px;
	line-height: 1em;
	font-weight: bold;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 0 white, 4px 4px 0 #B8B7B8;
	-moz-box-shadow: 2px 2px 0 white, 4px 4px 0 #B8B7B8;
	box-shadow: 2px 2px 0 white, 4px 4px 0 #B8B7B8;
}

.sites a:hover {
	background-color: #B53D25;
	color: #FFFFFF;
}
