html {
	border-top: 7px solid #B53D25;
}

body {
	background: #FFF;
	color: #4C4C4C;
	font-family: 'Gentium Book Basic', Georgia, serif;
	font-weight: 400;
	font-size: 16px;
}

hr {
	border-width: 1px;
}

header {
	background: url("../assets/megaphone.png") no-repeat scroll 0 21px transparent;
	margin-bottom: 20px;
}

h1,
h2,
h3 {
	margin: 10px 0;
	line-height: 1em;
	font-weight: 400;
}

.social {
	text-align: center;
}


.social li a {
	background: transparent url("") center center no-repeat;
	-moz-background-size: cover;
	background-size: cover;
	display: inline-block;
	overflow: hidden;
}

#twitter {
	background-image:url("../assets/twitter.png");
}

#linkedin {
	background-image:url("../assets/linkedin.png");
}

#facebook {
	background-image:url("../assets/facebook.png");
}

#email {
	background-image:url("../assets/email.png");
}

#github {
	background-image:url("../assets/github.png");
}

.projects h2,
.projects h3 {
	padding-top: 30px;
	border-top: 1px solid #FFFFFF;
	-webkit-box-shadow: 0px -1px rgba(0,0,0,0.2);
	box-shadow: 0px -1px rgba(0,0,0,0.2);
}

.sites {
	margin-bottom: 30px;
}

.sites li {
	margin: 5px;
}

.sites a {
	background: #FFFFFF;
	color: #777;
	padding: 10px;
	line-height: 1em;
	font-weight: bold;
	text-decoration: none;
	-webkit-box-shadow: 2px 2px 0 white, 4px 4px 0 #B8B7B8;
	-moz-box-shadow: 2px 2px 0 white, 4px 4px 0 #B8B7B8;
	box-shadow: 2px 2px 0 white, 4px 4px 0 #B8B7B8;
}

.sites a:hover {
	background-color: #B53D25;
	color: #FFFFFF;
}
