/* Fonts */

@font-face {
    font-family: 'EntypoRegular';
    src: url('../assets/Entypo-webfont.eot');
    src: url('../assets/Entypo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/Entypo-webfont.woff') format('woff'),
         url('../assets/Entypo-webfont.ttf') format('truetype'),
         url('../assets/Entypo-webfont.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'entypo';
    src: url('../assets/entypo.eot');
    src: url('../assets/entypo.eot?#iefix') format('embedded-opentype'),
         url('../assets/entypo.woff') format('woff'),
         url('../assets/entypo.ttf') format('truetype'),
         url('../assets/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #FFF;
    color: #4C4C4C;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5em;
}

hr {
    border-width: 1px;
}

header {
    text-align: center;
}

.switch a {
    margin-right: .5em;
    padding-right: .5em;
    font-weight: 400;
    color: #B53D25;
    text-decoration: none;
}

.switch a:first-of-type {
    border-right: 1px solid #B53D25;
}

.switch a:hover {
    text-decoration: underline;
}

.picture {
    background: transparent url("../assets/favicon.ico") center center no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    border-radius: 100%;
}

h1,
h2,
h3 {
    margin: 10px 0;
    line-height: 1em;
    font-weight: 400;
}

.social {
    text-align: center;
    margin: 30px 0;
}

.social li {
    display: inline-block;
    margin: 15px 22px 15px 0;
}

.social li a {
    font-family: 'entypo';
    font-size: 3em;
    vertical-align: middle;
    text-decoration: none;
    color: #4C4C4C;
}

#twitter:hover {
    color: #1499E7;
}

#linkedin:hover {
    color: #0C62A6;
}

#facebook:hover {
    color: #2D3E88;
}

#email:hover {
    color: #CE1011;
}

#github:hover {
    color: #FFF;
}

#blog:hover {
    color: #2A435F;
}

.projects-title {
    padding: 30px 0 10px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.projects-list {
    text-align: center;
}

.sites {
    margin-bottom: 30px;
}

.sites li {
    margin: 5px;
}

.sites a {
    background: #FFFFFF;
    color: #777;
    padding: 10px;
    line-height: 1em;
    font-weight: bold;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 0 white, 4px 4px 0 #B8B7B8;
    -moz-box-shadow: 2px 2px 0 white, 4px 4px 0 #B8B7B8;
    box-shadow: 2px 2px 0 white, 4px 4px 0 #B8B7B8;
}

.sites a:hover {
    background-color: #B53D25;
    color: #FFFFFF;
}


/* Github Box */

.github-box-wrap {
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin-right: 0.6em;
    margin-left: 0.6em;
    margin-bottom: 2em;
    height: 136px;
}

.github-box {
    width: 100%;
    text-align: left;
}

.github-box a {
    color: #777;
    border: none;
}

.github-box a:hover {
    color: #B53D25;
}

/* Github Box Header */

.github-box-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    text-align: left;
    margin: 0;
}

.github-box-header h3 {
    padding: 0 10px;
    font-weight: bold;
    font-size: 1.4em;
}

/* Github Box Header - Stats */

.github-stats {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 36px;
    position: absolute;
    top: 3px;
    right: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 11px;
    font-weight: bold;
    line-height: 21px;
    height: 21px;
}

.github-stats a {
    display: inline-block;
    height: 21px;
    color: #666;
    padding: 0 5px 0 5px;
    opacity: 0.7;
    vertical-align: top;
    text-decoration: none;
}

.github-stats a:hover {
    opacity: 1;
}

.github-stats a:before {
    font-family: 'EntypoRegular';
    content: attr(data-icon);
    display: inline-block;
    speak: none;
    padding-right: 2px;
    font-size: 2em;
}

.github-stats .repo-stars {
    border-right: 1px solid #ddd;
}

.github-stats .repo-forks {
    padding-left: 2px;
    border-right: 1px solid #ddd;
}

/* Github Box Content */

.github-box-content {
    padding: 0 10px;
    font-weight: 300;
}

.github-box-content p {
    margin: 0;
    width: 100%;
    min-height: 3.4em;
}

.github-box-content .repo-link {
    font-weight: bold;
}

@media all and (max-width: 678px) {
    .github-box-wrap {
        display: block;
        width: inherit;
        margin-right: 0;
    }
}

footer {
    margin: 30px auto;
    text-align: center;
}

.heart {
    font-style: normal;
    font-weight: 500;
    color: #c0392b;
}