body {
	margin: 0 auto;
}

header {
	margin: 35px 0 0;
}

header h2 {
	margin: 5px 0 0 60px;
}

.hgroup {
	vertical-align: middle;
}

.hgroup h2 {
	margin-left: 0;
}

.about h2 {
	margin-top: 25px;
	margin-bottom: 40px;
}

.projects h2 {
	padding-top: 35px;
	margin-bottom: 15px;
	margin-top: 35px;
}

.about {
	margin-bottom: 30px;
}

.sites li {
	margin: 10px;
	display: inline-block;
	font-size: 0.7em;
}

/*--
	Landscape view
--*/
@media screen and (min-width: 768px){
/* Styles */
	body {
		max-width: 710px;
	}
}

/*--
	Desktop and laptops
--*/
@media only screen and (min-width: 1024px) {
/* Styles */
	body {
		max-width: 900px;
	}

	.hgroup {
		text-align: left;
		margin-left: 45px;
		display: inline-block;
	}
}

}

/*--
	Large screens
--*/
@media only screen and (min-width : 1824px) {
/* Styles */

}
