body {
    margin: 0 auto;
}

header.main {
    background: url('../assets/code.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.presentation {
    padding: 4em 0;
    background-color: rgba(0,0,0,.5);
    color: #FFF;
    font-size: 1.6em;
    text-shadow: 1px -1px #000;
}

.social li a {
    font-size: 1.8em;
    color: #f9f9f9;
}

.switch {
    font-size: .7em;
}

.switch a {
    color: #FFF;
}

.about h2 {
    margin-top: 25px;
    margin-bottom: 40px;
}

.projects {
    margin: 0 auto;
}

.projects h2 {
    padding-top: 35px;
    margin-bottom: 15px;
    margin-top: 35px;
}

.about {
    margin-bottom: 30px;
}

.sites li {
    margin: 10px;
    display: inline-block;
    font-size: 0.7em;
}

/*--
    Landscape view
--*/
@media screen and (min-width: 768px){
    .projects {
        max-width: 710px;
    }
}

/*--
    Desktop and laptops
--*/
@media only screen and (min-width: 1024px) {
    .projects {
        max-width: 900px;
    }
}

/*--
    Large screens
--*/
@media only screen and (min-width : 1824px) {
/* Styles */

}
