header
	hgroup
		h1 Guille Paz
		h2 I'm a frontend developer!

section.projects
	h2 About me
	ul.social
		li
			a(href="http://www.linkedin.com/in/pazguillermo", id="linkedin", target="_blank") LinkedIn
		li
			a(href="https://github.com/pazguille", id="github", target="_blank") GitHub
		li
			a(href="http://twitter.com/pazguille", id="twitter", target="_blank") Twitter
		li
			a(href="http://www.facebook.com/guillotepaz", id="facebook", target="_blank") Facebook
		li
			a(href="mailto:guille87paz@gmail.com", id="email") E-mail

	h2 Open Source
	ul.sites
		li
			a(href="http://www.chico-ui.com.ar/", target="_blank", title="Chico UI is the MercadoLibre's Visual Framework for the web.") Chico UI
		li
			a(href="https://github.com/pazguille/oops.js", target="_blank", title="Oops! JS is an Object Oriented JavaScript Library") OopsJS
		li
			a(href="https://github.com/pazguille/CORS", target="_blank", title="Simple and tiny CORS component") CORS
		li
			a(href="https://github.com/pazguille/jvent", target="_blank", title="Event Emitter Class for the browser based on NodeJS EventEmitter") Jvent
		li
			a(href="https://github.com/pazguille/viewport", target="_blank", title="Gets the dimensions of the Viewport and beyond.") Viewport
		li
			a(href="https://github.com/pazguille/templitJS", target="_blank", title="Semantic and simple client-side template engine.") TemplitJS
		li
			a(href="https://github.com/pazguille/jquery.cors", target="_blank", title="Simple and tiny CORS jQuery Plugin.") jQuery Cors
		li
			a(href="https://github.com/pazguille/editable", target="_blank", title="Simple and tiny in-place Editor component.") Editable
		li
			a(href="https://github.com/pazguille/editable-plugin", target="_blank", title="Simple and tiny in-place Editor.") Editable plugin
		li
			a(href="https://github.com/pazguille/route66", target="_blank", title="Routing for web browsers.") Route66
		li
			a(href="https://github.com/pazguille/sal.js", target="_blank", title="Simple Ajax Library.") Sal JS
		li
			a(href="https://github.com/pazguille/hotkeys.js", target="_blank", title="A simple library for add/remove hotkeys to DOM.") Hotkeys JS
		li
			a(href="https://github.com/pazguille/saw.js", target="_blank", title="Simple Ajax for Web Workers.") Saw JS
		li
			a(href="https://github.com/pazguille/chico.bootstrap", target="_blank", title="A Chico UI flavor based on Twitter Bootstrap.") Chico Bootstrap
		li
			a(href="https://github.com/pazguille/give.me.js", target="_blank", title="A loader JavaScript files.") GiveMe JS

	h2 Sites
	ul.sites
		li
			a(href="http://www.weat.com.ar/", target="_blank") Weat
		li
			a(href="http://www.pintubest.com/", target="_blank") Pintubest
		li
			a(href="http://www.chainedstory.com/", target="_blank") ChainedStory
		li
			a(href="http://www.tastishes.com/", target="_blank") Tastishes


	h2 Chrome Extensions
	ul.sites
		li
			a(href="https://chrome.google.com/webstore/detail/iibopnefpofljfbmnjleebgkfailifdf", target="_blank") Hotgram
		li
			a(href="https://chrome.google.com/webstore/detail/bpgigpoaejpinfkjigcnmdjhgoboidia", target="_blank") MercadoLibre Seeker
		li
			a(href="https://chrome.google.com/webstore/detail/pintubest/cfbelnhekemojdidbiehfpdaepmhohgh", target="_blank") Pintubest