header
	hgroup
		h1 Guille Paz
		h2 I'm a frontend developer!

section.about
	h2 About me
	ul.social
		li
			a(href="http://www.linkedin.com/in/pazguillermo", id="linkedin", target="_blank") LinkedIn
		li
			a(href="https://github.com/pazguille", id="github", target="_blank") GitHub
		li
			a(href="http://twitter.com/pazguille", id="twitter", target="_blank") Twitter
		li
			a(href="http://geekli.st/pazguille", id="geeklist", target="_blank") geekli.st
		li
			a(href="http://www.facebook.com/guillotepaz", id="facebook", target="_blank") Facebook
		li
			a(href="http://klout.com/#/pazguille", id="klout", target="_blank") Klout
		li
			a(href="mailto:guille87paz@gmail.com", id="email") E-mail
		li
			a(href="https://profiles.google.com/guille87paz", id="google", target="_blank") Google
		li
			a(href="skype:pazguille?add", id="skype") Skype
		li
			a(href="http://www.playfire.com/pazguille", id="playfire", target="_blank") Playfire
		li
			a(href="http://weat.com.ar/perfil/pazguille", id="weat", target="_blank") Weat
		li
			a(href="http://gomiso.com/u/pazguille", id="miso", target="_blank") Miso
		li
			a(href="http://www.amazon.com/gp/pdp/profile/AH7VAQR456VKZ", id="amazon", target="_blank") Amazon
		li
			a(href="http://forrst.com/people/pazguille", id="forrst", target="_blank") Forrst
		li
			a(href="http://pinterest.com/pazguille/pins/", id="pin", target="_blank") Pinterest

section.projects
	h2 Projects
	ul.sites
		li
			a(href="http://www.chico-ui.com.ar/", target="_blank") Chico UI
		li
			a(href="https://github.com/mercadolibre/chico-mobile", target="_blank") Chico Mobile
		li
			a(href="http://www.weat.com.ar/", target="_blank") Weat
		//
			li
				a(href="http://www.spaghettiblog.com.ar/", target="_blank") SpaghettiBlog
		li
			a(href="http://pazguille.github.com/give.me.js/", target="_blank") Give me JS
		li
			a(href="https://github.com/pazguille/hotkeys.js/", target="_blank") Hotkeys
		li
			a(href="http://pazguille.github.com/oops.js/", target="_blank") Opps! JS
		li
			a(href="http://pazguille.github.com/hot.on.pinterest/", target="_blank") What's hot on Pinterest
		li
			a(href="https://github.com/pazguille/sal.js/", target="_blank") Sal JS
		li
			a(href="https://github.com/pazguille/chico.bootstrap/", target="_blank") Chico Bootstrap

	h2 Labs
	ul.sites
		li
			a(href="https://github.com/pazguille/saw.js", target="_blank") Saw JS
		li
			a(href="https://github.com/pazguille/playground", target="_blank") Playground

	h2 Coming Soon
	ul.sites
		li
			a(href="http://www.wasabee.vg/", target="_blank") Wasabee
		li
			a(href="https://github.com/pazguille/chatran/", target="_blank") Chatran
		li
			a(href="http://www.pintubest.com/", target="_blank") Pintubest
		li
			a(href="https://github.com/pazguille/meli.seeker/", target="_blank") MercadoLibre Seeker
