!!! 5
html.no-js(lang="en")
	head
		meta(charset="utf-8")
		title Guille Paz - My personal website :)
		link(rel="shortcut icon", href="/src/assets/favicon.ico")
		link(rel="stylesheet", href="/src/css/normalize.css")
		link(rel="stylesheet", href="/src/css/pazguille.css")

		meta(name="HandheldFriendly", content="True")
		meta(name="MobileOptimized", content="320")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="google-site-verification", content="ls5mX8y3vkVWPUJbX5L4C1QP6PUVkujZohehNVm16zQ")

		link(rel="stylesheet", href="/src/css/mobile.css", media="only screen and (min-width: 240px)")
		link(rel="stylesheet", href="/src/css/tablet.css", media="only screen and (min-width: 768px)")

	body
		!= body
			
		script
			/*var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-15753373-2']);
			_gaq.push(['_trackPageview']);
			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();*/