@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --primary: #3b82f6;
}

.animate-pulse {
  font-family: auto !important;
}

body {
  margin: 0;
}

/* Custom styles not easily covered by Tailwind */
.icon-svg {
  background-color: currentColor;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.project-icon-svg svg {
  width: 100%;
  height: 100%;
}

.social-icon-svg svg {
  width: 100%;
  height: 100%;
}
